ul {
    background-color: rgb(49, 48, 48);
    padding: 8px;
    margin-bottom: 0px;
    margin: 0;
    border-top: 3px solid rgba(228, 98, 55, 0.829);
}

li {
    list-style-type: none;
    display: inline;
    padding: 20px;
    float: right;
    position: relative;
    top: 25px;
}

li a {
    text-decoration: none;
    padding-right: 50px;
    font-family: serif;
    color: white;
}

.content1 p {
    font-style: italic;
    color: black;
    background-color: #d5dbe29d;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 5.5px;
    box-sizing: border-box;
    margin: unset;
    font-family: serif;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 80px;
    text-align: center;
    font-size: 20px;
}

.second-view-car {
    background-color: rgb(49, 48, 48);
    padding-top: 90px;
    border: 20px solid rgb(49, 48, 48);
    position: relative;
    bottom: 5px;
}

.our-features-content {
    width: 60%;
    height: 100%;
    position: relative;
    bottom: 70px;
    font-size: 18px;
}

.our-features-img {
    width: 30%;
    float: right;
    position: relative;
    bottom: 35px;
    right: 150px;
    border-image-outset: 20px;
    border-color: darkgray;
    border-style: solid;
}

h5 {
    font-family: serif;
    color: rgba(228, 98, 55, 0.829);
    padding-left: 80px;
    position: relative;
    top: 24px;
}

h3 {
    font-family: serif;
    color: white;
    padding-left: 80px;
    text-transform: uppercase;
}

p {
    font-family: serif;
    color: white;
    padding-left: 80px;
    letter-spacing: 1px;
}

.all-third-cars {
    background-color: rgb(233, 231, 231);
    height: 600px;
    position: relative;
    bottom: 5px;
}

.third-view-car {
    border: 4px solid white;
    border-style: border-box;
    background-color: rgb(255, 255, 255);
    width: 17.5%;
    color: white;
    position: relative;
    left: 200px;
    top: 80px;
}

.third-view-car2 {
    border: 4px solid white;
    border-style: border-box;
    background-color: rgb(255, 255, 255);
    width: 17.5%;
    color: white;
    position: relative;
    right: 620px;
    bottom: 340px;
    float: right;
}

.third-view-car3 {
    border: 4px solid rgb(255, 255, 255);
    border-style: border-box;
    background-color: rgb(255, 255, 255);
    width: 17.5%;
    color: white;
    position: relative;
    left: 60px;
    bottom: 340px;
    float: right;
}

.third-car {
    border: 2px solid rgb(223, 223, 223);
}

.tHeading {
    color: rgba(228, 98, 55, 0.829);
    position: relative;
    bottom: 10px;
    right: 60px;
    width: 40px;
    font-size: 19px;
}

.tContent {
    color: black;
    font-size: 13px;
    text-align: justify;
    position: relative;
    padding-left: 20px;
    bottom: 20px;
    font-family: Arial;
    line-height: 20px;
}

.button {
    background-color: #0074d3;
    color: white;
    border-radius: 3px;
    bottom: 24px;
    /* padding-top: 5px; */
    padding: 7px;
    /* padding-bottom: 3px; */
    position: relative;
    left: 20px;
    font-size: 11px;
}

.image {
    height: 430px;
    z-index: -1;
    border-top: 4px solid rgba(228, 98, 55, 0.829);
}

.contact-details {
    position: relative;
    top: 157px;
    width: 36%;
}

.contact-heading {
    color: rgba(228, 98, 55, 0.829);
    padding-top: 60px;
    position: absolute;
    left: -60px;
    bottom: 354px;
}

.contact-content {
    position: absolute;
    left: -58px;
    bottom: 230px;
    font-style: italic;
}

.ol-list {
    color: white;
    line-height: 1.6;
    position: absolute;
    left: -20px;
    top: 180px;
}


/* QUICK LINK  */

.quick-link {
    position: absolute;
    bottom: 1px;
    top: 528px;
    left: 36%;
    width: 30%;
    height: 64%;
}

.quick-link input {
    padding: 9px;
    margin: 1px;
    height: 5%;
    position: relative;
    top: 50px;
    width: 94%;
}

.quick-link-title {
    color: rgba(228, 98, 55, 0.829);
    position: relative;
    top: 45px;
    right: 17%;
    line-height: 60px;
}

.newsletter {
    width: 34%;
    height: 64%;
    position: absolute;
    top: 528px;
    left: 67%;
}

.newsletter-title {
    color: rgba(228, 98, 55, 0.829);
    position: relative;
    top: 60px;
    right: 15%;
}

.newsletter label {
    position: relative;
    top: 38px;
    left: 10px;
    color: white;
    line-height: 46px;
}

.newsletter input {
    width: 90%;
    height: 9%;
    position: relative;
    top: 40px;
    left: 10px;
    line-height: 16px;
}

.newsletter button {
    width: 16%;
    height: 40px;
    position: relative;
    top: 55px;
    left: 10px;
    background-color: #0074d3;
    color: white;
}

.footer {
    background-color: rgb(61, 60, 60);
    width: 100.06%;
    height: 60px;
    position: relative;
    top: 378px;
}

#firstF {
    position: relative;
    top: 20px;
    right: 55px;
}

#secondF {
    position: relative;
    float: right;
    bottom: 55px;
    left: 520px;
}